body{
    max-width: 1280px;
    background-color: #1c1c1c;
    color: #d3d3d3;
    font-family: arial, sans-serif;
    padding: 0 auto;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

header .logo{
    width: 25px;
    height: 25px;
    font-family: arial, sans-serif;
}


main .cartao{
    max-width: 1000px;
    border: 1px solid #7c7272;
    background-color:  #363636;
    padding-left: 10px;
    display: flex;
    gap: 25px;
}

main .final{
    flex-direction: column;
}

abbr{
    font-family: bold, sans serif;
    color: grey;
}


h2{
    padding: 15px;
}

main .logo{
    width: 25px;
}